@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --blanco:#f5f5f5;
    --negro:#000000;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--blanco);
    background-color: var(--negro);
    padding: 8px;
}
ul {
    display: flex;

}
li {
    flex-direction: row;
    padding: 2px;
    margin: 10px;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--blanco);
}
.estrenos{
    height: 70vh;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20231016/pngtree-enchanting-texture-background-dimly-lit-brick-wall-on-a-dark-night-image_13666396.png
    );
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}
.scroller {
    display: flex;
    background-color: var(--negro);
    width: 750px;
    height: 300px;
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

.cartelera{
    padding: 3rem 12rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px !important;
    justify-content: center;
    align-items: center;
}
.s-cartelera{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240)
    
}
.s-cartelera h1{
    font-size: 38px;
    padding-top: 30px;

}

.pelicula {

    width: 20%;
    height: auto;
}

.pelicula img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#anime{
    padding: 3rem 12rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
#anime h1{
    font-size: 38px;
    padding-bottom: 20px;
}

.animes {

    width: 20%;
    height: auto;
}

.animes img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
#reservas {
    padding: 5rem 12rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240)
}
#reservas h1 {
    font-size: 38px;
    padding-bottom: 10px;
}
form input, form textarea{
    width: 100%;
    border: solid 2px black;
    outline: none;
    background: #110303ce;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 15px;
   
}
form button{
    
        color: white;
        border: none;
        width: 100%;
        padding: 10px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        background: #070202f5;
        cursor: pointer;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        transition: 0.25s all ease;
        &:hover {
          transform: translateY(2px);
        }

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    font-size: larger;
    height: 8vh;
}
